@import "../app-styles/vars";

.sidebar {
  &.ui.labeled.icon.menu {
    width: 230px;

    & > .item {
      &:before {
        display: none !important;
      }

      &.link {
        text-align: left;
        color: $color-default-text;
        border: none;
        box-shadow: none;
        background: none;
        font-weight: 800;

        &.active {
          pointer-events: none; // ie11+ support
          cursor: default;
          opacity: 0.5;
        }

        &:hover {
          //border-bottom: 1px solid black;
          text-decoration: underline;
        }
        &.active {
          &:hover {
            text-decoration: none;
          }
        }

        &:after {
          content: '>';
          position: absolute;
          right: 1em;
          font-size: 1.7em;
          top: 0.35em;
        }
        &.active {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

