@import "../../../../../common/app-styles/vars";
@import "../../../../../common/app-styles/mixins";

.ProjectApp {
  height: 100%;
}

.AppLayout {
  background-color: $color-default-background;

  &__maxWidthItem {
    max-width: $width-app-max;
  }

  &__headerWrapper {
    background-color: $color-default-background;

    //@include respond-to('lg') {
    //  .UserName--notAuth {
    //    margin: 0 1em;
    //  }
    //}
  }

  //&__footerWrapper {
  //  padding: 0;
  //}
}
